<html>
  <head>
    <title></title>

    <script src="{{ static_url("js/lib/angular.js") }}"></script>
    <script src="{{ static_url("js/lib/angular-websocket.js") }}"></script>
    <script src="{{ static_url("js/lib/jquery.js") }}"></script>
    <script src="{{ static_url("js/groups.js") }}"></script>

  </head>
  <body ng-App="GroupsApp">
		<div ng-controller="MainController">
      <div ng-repeat="group in socket.groups">
        <a href="/group?groupId={{! group._id.$oid }}&personId={{ personId }}">{{! group.name }}</a>
      </div>
    </div>

    <input id="person-id" type="hidden" value="{{ personId }}">
  </body>
</html>
