<html>
  <head>
    <title></title>

    <link rel="stylesheet" href="{{ static_url("css/index.css") }}"/>

    <script src="{{ static_url("js/lib/angular.js") }}"></script>
    <script src="{{ static_url("js/lib/angular-websocket.js") }}"></script>
    <script src="{{ static_url("js/lib/jquery.js") }}"></script>
    <script src="{{ static_url("js/app.js") }}"></script>

  </head>
  <body ng-App="App">
		<div ng-controller="MainController">
      <input type="button" value="get" ng-click="socket.getMessages()"><br>
      <input id="text" type="text" placeholder="text"> / 
      <input id="author" type="text" placeholder="author">
      <input type="button" value="post" ng-click="socket.postMessage()">
		  <pre>
        {{! socket.messages|json }}
      </pre>
    </div>
  </body>
</html>
