<html>
  <head>
    <title></title>

    <link rel="stylesheet" href="{{ static_url("css/index.css") }}"/>

    <script src="{{ static_url("js/lib/angular.js") }}"></script>
    <script src="{{ static_url("js/lib/angular-websocket.js") }}"></script>
    <script src="{{ static_url("js/lib/jquery.js") }}"></script>
    <script src="{{ static_url("js/app.js") }}"></script>

  </head>
  <body ng-App="App">
		<div ng-controller="MainController">
      <input type="button" value="group-get" ng-click="socket.getGroups()"><br>
      <input id="group-name" type="text" placeholder="name">
      <input type="button" value="group-post" ng-click="socket.postGroup()"><br>

		  <pre>
        {{! socket.response.groups|json }}
      </pre>

      <input type="button" value="person-get" ng-click="socket.getPersons()"><br>
      <input id="person-name" type="text" placeholder="name"> / 
      <input id="person-icon" type="text" placeholder="icon">
      <input type="button" value="person-post" ng-click="socket.postPerson()">

		  <pre>
        {{! socket.response.persons|json }}
      </pre>
    </div>
  </body>
</html>
