<html>
  <head>
    <title></title>

    <link rel="stylesheet" href="{{ static_url("css/index.css") }}"/>

    <script src="{{ static_url("js/lib/angular.js") }}"></script>
    <script src="{{ static_url("js/lib/angular-websocket.js") }}"></script>
    <script src="{{ static_url("js/lib/jquery.js") }}"></script>
    <script src="{{ static_url("js/app.js") }}"></script>

  </head>
  <body ng-App="App">
		<div ng-controller="MainController">
      <p>グループ</p>
			<ul>
				<li ng-repeat="group in socket.groups">
					{{! group.name }}
				</li>
			</ul>

      <p>メッセージ</p>
			<ul>
				<li ng-repeat="message in socket.messages">
					{{! message.body }}
				</li>
			</ul>

      <textarea id="message-body"></textarea>
      <input type="button" value="post" ng-click="socket.postMessage()">
    </div>

    <input id="person-id" type="hidden" value="{{ personId }}">
  </body>
</html>
