<html>
  <head>
    <script src="{{ static_url("js/lib/angular.js") }}"></script>
    <script src="{{ static_url("js/lib/angular-websocket.js") }}"></script>
    <script src="{{ static_url("js/lib/angular-route.js") }}"></script>
    <script src="{{ static_url("js/ng.js") }}"></script>

  </head>
  <body ng-App="NgApp">
    <div ng-controller="SocketController">
      <hr>
      <div ng-view></div>
      <hr>
      <script type="text/ng-template" id="group-template">
        <p>group</p>
        <ul>
          <li><a ng-href="#/event/1/1">グループ1</a></li>
          <li><a ng-href="#/event/2/1">グループ2</a></li>
        </ul>
      </script>

      <script type="text/ng-template" id="event-template">
        <p>event #{{! groupId }}/#{{! personId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}/{{! personId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}/{{! personId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}/{{! personId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}/{{! personId }}">リンク</a></li>
        </ul>
        <ul>
          <li ng-repeat="group in data.groups">
            {{! group.name }}
          </li>
        </ul>
        <ul>
          <li ng-repeat="message in data.messages">
            {{! message.body }}
          </li>
        </ul>
      </script>

      <script type="text/ng-template" id="message-template">
        <p>message #{{! groupId }}/#{{! personId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}/{{! personId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}/{{! personId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}/{{! personId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}/{{! personId }}">リンク</a></li>
        </ul>
        <input type="text" ng-model="body">
        <input type="button" value="send" ng-click="post(body)">
        <ul>
          <li ng-repeat="message in data.messages">
            {{! message.body }}
          </li>
        </ul>
      </script>

      <script type="text/ng-template" id="schedule-template">
        <p>schedule #{{! groupId }}/#{{! personId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}/{{! personId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}/{{! personId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}/{{! personId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}/{{! personId }}">リンク</a></li>
        </ul>
        <ul>
          <li><a ng-href="#/attendance/{{! groupId }}/{{! personId }}/1">出欠1</a></li>
          <li><a ng-href="#/attendance/{{! groupId }}/{{! personId }}/2">出欠2</a></li>
        </ul>
      </script>

      <script type="text/ng-template" id="attendance-template">
        <p>attendance #{{! groupId }}/#{{! personId }}/#{{! scheduleId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}/{{! personId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}/{{! personId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}/{{! personId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}/{{! personId }}">リンク</a></li>
        </ul>
      </script>

      <script type="text/ng-template" id="link-template">
        <p>link #{{! groupId }}/#{{! personId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}/{{! personId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}/{{! personId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}/{{! personId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}/{{! personId }}">リンク</a></li>
        </ul>
        <ul>
          <li><a ng-href="#/comment/{{! groupId }}/{{! personId }}/1">コメント1</a></li>
          <li><a ng-href="#/comment/{{! groupId }}//{{! personId }}2">コメント2</a></li>
        </ul>
      </script>

      <script type="text/ng-template" id="comment-template">
        <p>comment #{{! groupId }}/#{{! personId }}/#{{! linkId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}/{{! personId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}/{{! personId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}/{{! personId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}/{{! personId }}">リンク</a></li>
        </ul>
      </script>
    </div>
  </body>
</html>
