<html>
  <head>
    <script src="{{ static_url("js/lib/angular.js") }}"></script>
    <script src="{{ static_url("js/lib/angular-route.js") }}"></script>
    <script src="{{ static_url("js/ng.js") }}"></script>

  </head>
  <body ng-App="NgApp">
    <div ng-view></div>
      <script type="text/ng-template" id="group-template">
        <p>group</p>
        <ul>
          <li><a ng-href="#/event/1">グループ1</a></li>
          <li><a ng-href="#/event/2">グループ2</a></li>
        </ul>
      </script>

      <script type="text/ng-template" id="event-template">
        <p>event #{{! groupId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}">リンク</a></li>
        </ul>
      </script>

      <script type="text/ng-template" id="message-template">
        <p>message #{{! groupId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}">リンク</a></li>
        </ul>
      </script>

      <script type="text/ng-template" id="schedule-template">
        <p>schedule #{{! groupId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}">リンク</a></li>
        </ul>
        <ul>
          <li><a ng-href="#/attendance/{{! groupId }}/1">出欠1</a></li>
          <li><a ng-href="#/attendance/{{! groupId }}/2">出欠2</a></li>
        </ul>
      </script>

      <script type="text/ng-template" id="attendance-template">
        <p>attendance #{{! groupId }}/#{{! scheduleId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}">リンク</a></li>
        </ul>
      </script>

      <script type="text/ng-template" id="link-template">
        <p>link #{{! groupId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}">リンク</a></li>
        </ul>
        <ul>
          <li><a ng-href="#/comment/{{! groupId }}/1">コメント1</a></li>
          <li><a ng-href="#/comment/{{! groupId }}/2">コメント2</a></li>
        </ul>
      </script>

      <script type="text/ng-template" id="comment-template">
        <p>comment #{{! groupId }}/#{{! linkId }}</p>
        <ul>
          <li><a ng-href="#/">グループ一覧</a></li>
          <li><a ng-href="#/event/{{! groupId }}">イベント</a></li>
          <li><a ng-href="#/message/{{! groupId }}">メッセージ</a></li>
          <li><a ng-href="#/schedule/{{! groupId }}">予定</a></li>
          <li><a ng-href="#/link/{{! groupId }}">リンク</a></li>
        </ul>
      </script>

  </body>
</html>
