<div ng-include="'include?name=group'" id="layout-groups" class="clearfix full-height"></div>

<div id="layout-contents">
  <p id="layout-group-name">
    {{! data[groupId].name }}
  </p>

  <div ng-include="'include?name=tab'" class="clearfix"></div>

  <div id="layout-contents__body">
    <form name="form" class="contents-form" novalidate ng-submit="post(this, body)">
      <textarea name="body" ng-model="body" required placeholder="メッセージを入力（必須）"></textarea>
      <input type="submit" value="send" ng-disabled="form.$invalid">
    </form>

    <div class="media full-width" ng-repeat="message in data[groupId].messages">
      <hr>

      <div class="media__block">
        <div class="media__image--block">
          <img class="media__image media__image--large" src="/static/image/icon/person/{{! message.person.icon }}">
        </div>
        <div class="media__body--block">
          <span class="time">{{! format(message.created) }}</span>
          <div class="pre-wrap">{{! message.person.name }}<br>{{! message.body }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
